/*============================
General Styles
=========================*/

* {
    padding: 0;
    margin: 0;
    /* überlappend */
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0 1rem 0;
}

p {
    margin: 1.5rem 0;
    padding: 1rem;
}

section {
    border: 0.2rem solid black;
    margin: .6em;
    padding: 1rem;
}

section ul {
    padding-inline-start: 1.2em;
}

section ul li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none;
    padding-inline-start: none;
}

section ul li:first-child ul:first-child li:first-child ul:first-child li::before {
    content: "🐶";
}

section ul li:first-child ul:first-child li:last-child ul:first-child li::before {
    content: "🐱";
}

section ul li:nth-of-type(2) ul:first-child li:first-child ul:first-child li::before {
    content: "🦜";
}

section ul li:last-child ul:first-child li:first-child ul:first-child li:before {
    content: '🐍';
}

section ul li:last-child ul:first-child li:last-child ul:first-child li:before {
    content: '🦎';
}