/*============================
General Styles
=========================*/

body {
    padding: 1.7rem;
}

h1 {
    margin: 1rem 0 1rem 0;
    border-top: 1px solid black;
}

p {
    margin: 1.5rem 0;
    padding: 1rem;
}

section {
    border: 0.2rem solid black;
    margin: .6em;
    padding: 1rem;
}

section ul {
    padding-inline-start: 1.2em;
}

section ul li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none;
    padding-inline-start: none;
}

section ul li:first-child ul:first-child li:first-child ul li::before {
    content: "🐶";
}

section ul li:first-child ul:first-child li:last-child ul li::before {
    content: "🐱";
}

section ul li:nth-of-type(2) ul li ul li::before {
    content: "🦜";
}

section ul li:nth-of-type(3) ul li:first-child ul li::before {
    content: '🐍';
}

section ul li:nth-of-type(3) ul li:last-child ul li::before {
    content: '🦎';
}