/*============================
General Styles
=========================*/

* {
    padding: 0;
    margin: 0;
    /* überlappend */
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0 1rem 0;
}

p {
    margin: 1.5rem 0 1.5rem 0;
}

section {
    border: 0.2rem solid black;
    padding: 1.5rem 3rem 1.5rem;
}

section ul li:first-child ul:first-child {
    font-size: 2rem;
}