*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#sectionOne{
    background: tomato;
    height: 100vh;
    text-align: center;
}

#sectionTwo{
    background: gold;
    height: 100vh;
    text-align: center;
}

#sectionThree{
    background: green;
    height: 100vh;
    text-align: center;
}

.headline{
    font-size: 48px;
    padding-top: 30px;
}
