h1 {
    font-size: 48px;
    background: grey;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: Tahoma;
}

nav p {
    text-indent: 10px;
    font-family: Lucida Sans Unicode;
    word-spacing: 7px;
}

main p {
    word-spacing: 5px;
    text-indent: 20px;
}

h2 {
    text-shadow: 5px 5px 5px black;
    letter-spacing: 5px;
}

section p {
    line-height: 20px;
    background: lightblue;
}

aside p {
    line-height: 20px;
    background: lightcoral;
    color: white;
}