/*============================
General Styles
=========================*/

* {
    padding: 0;
    margin: 0;
    /* überlappend */
    box-sizing: border-box;
}

body {
    /* background: url("https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: url("https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80") center /cover no-repeat;
    height: 100vh;
    padding: 1rem;
}

h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}