h1::first-letter {
    font-size: 50px;
    color: brown;
}

h1:hover::first-letter {
    color: blue;
}

ul li {
    list-style: none;
}

ul li:first-child {
    text-decoration: line-through;
}

ul li:first-child::before {
    content: url("../img/check.png");
}

ul li:first-child::after {
    content: url("../img/gym.png");
}

ul li:nth-child(2) {
    text-decoration: line-through;
}

ul li:nth-child(2)::before {
    content: url("../img/check.png");
}

ul li:nth-child(2)::after {
    content: url("../img/bill.png");
}

ul li:nth-child(3),
ul li:nth-child(4) {
    background: rgb(98, 220, 242);
}

ul li:nth-child(3)::before {
    content: url("../img/doing.png");
}

ul li:nth-child(3)::after {
    content: url("../img/dance.png");
}

ul li:nth-child(4)::before {
    content: url("../img/doing.png");
}

ul li:nth-child(4)::after {
    content: url("../img/eat.png");
}

ul li:nth-child(5) {
    text-decoration: underline;
}

ul li:nth-child(5)::before {
    content: url("../img/no.png");
}

ul li:nth-child(5)::after {
    content: url("../img/book.png");
}

ul li:last-child {
    text-decoration: underline;
}

ul li:last-child::before {
    content: url("../img/no.png");
}

ul li:last-child::after {
    content: url("../img/organize.png");
}